/*  Mobile first */
.App-header {
  border-bottom: 1px red solid;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
}
.App-header img {
  width: clamp(50px, 20vw, 8rem);
  height: auto;
}
.App-header h1 {
  font-size: clamp(5px, 4vw, 4vw);
  color: red;
  padding-bottom: clamp(5px, 4vw, 4vw);
}

/* Tablet */
@media (min-width: 601px) {
  .App-header {
    height: 140px;
  }
  .App-header h1 {
    margin-top: 4rem;
    font-size: clamp(10px, 4vw, 1.3rem);
  }
}

/* Desktop */

@media (min-width: 901px) {
  .App-header img {
    width: clamp(50px, 40vw, 13rem);
    height: auto;
  }
  .App-header h1 {
    font-size: clamp(10px, 4vw, 1.6rem);
  }
  .App-header {
    height: fit-content;
  }
}
