/*  Mobile first */

.courses {
  flex: 1;
  padding: clamp(8px, 6vw, 2.5rem) clamp(0px, 4vw, 2rem);
  margin: 0 auto;
}
#CourseList {
  width: 60vw;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #ccc;
  padding: clamp(1px, 2vw, 8px);
  text-align: left;
  font-size: clamp(5px, 2vw, 1rem);
  overflow-wrap: break-word;
}
th {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #f9f9f9;
}

/* Tablet */
@media (min-width: 601px) {
  .courses {
    margin: 0;
  }
  #CourseList {
    width: 50vw;
  }
}

/* Desktop */

@media (min-width: 901px) {
  #CourseList {
    width: 40vw;
  }
}
