.bodySectionWithMargin {
  margin: 0 0 40px 0;
}

.bodySectionWithMargin .bodySection h2 {
  margin: clamp(10px, 2vw, 1rem);
  font-size: clamp(6px, 2vw, 1rem);
}

.bodySection h2,
.bodySection p {
  font-size: clamp(10px, 2vw, 1rem);
  margin: clamp(10px, 2vw, 1rem);
}
