@import "tailwindcss";

/* fix dark mode: make it follow the class not system */
@custom-variant dark (&:where(.dark, .dark *));

/* no theme.extend.colors use css way */
@theme {
  --color-primary: #1a3445;
  --shadow-soft: 0 4px 12px rgba(0, 0, 0, 0.1);
  --font-main: Inter, sans-serif;
}

/* task 1 styles */

/* header */

.link-item {
  @apply w-fit hover:border-b-2 hover:border-b-fuchsia-300 hover:shadow dark:text-amber-50;
}

/* main */

.btn {
  @apply rounded bg-blue-500 p-2 font-mono text-sm text-white transition-colors duration-300 hover:scale-[1.05] hover:bg-blue-800;
}

.card {
  @apply max-w-xs rounded border border-zinc-400 bg-white p-2 shadow transition-transform duration-300 hover:scale-[1.01] hover:shadow-md lg:max-w-sm dark:bg-[#2A4A5F];
}

.card-title {
  @apply font-semibold group-hover:text-fuchsia-500 dark:text-amber-50 dark:group-hover:text-yellow-400;
}

.card-desc {
  @apply text-sm text-gray-600 dark:text-white;
}
.card-footer {
  @apply mt-3 flex justify-between;
}
.card-price {
  @apply font-bold text-red-500 dark:text-orange-400;
}
