/* footer */
.App-footer {
  background-color: #e0e0e0;
  width: 100%;
  height: fit-content;
  padding: clamp(10px, 2vh, 20px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px red solid;
}

@media (max-width: 601px) {
  .App-footer {
    overflow-wrap: break-word;
    font-size: clamp(10px, 2vw, 20px);
  }
}
