/*  Mobile first */

/* body */
.App-body {
  /* padding: clamp(8px, 6vw, 2.5rem) clamp(5px, 4vw, 2rem); */
  padding: clamp(8px, 6vw, 1rem) clamp(5px, 4vw, 2rem);
  flex: 1;
  height: 600px;
}

.App-body p,
.App-body form label {
  overflow-wrap: break-word;
  font-size: clamp(6px, 2vw, 0.8rem);
}

/* form */
.App-body form {
  padding: 2vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1vh 1vw;
  overflow-wrap: break-word;
}
.App-body form label {
  font-weight: 200;
  cursor: pointer;
}
.App-body form input {
  padding: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 40%;
  height: clamp(10px, 10vw, 1.5rem);
}
.App-body form input:focus {
  outline: red 1px solid;
  caret-color: red;
}
.App-body form input[type="submit"] {
  border: none;
  background-color: rgba(255, 0, 0, 0.677);
  color: white;
  font-weight: 300;
  border-radius: 5px;
  cursor: pointer;
  font-size: clamp(5px, 5vw, 0.7rem);
  width: clamp(20px, 10vw, 2rem);
  height: clamp(12px, 10vw, 1.5rem);
}
.App-body form input[type="submit"]:hover {
  opacity: 60%;
  transform: scale(1.1);
}

/* Tablet */
@media (min-width: 601px) {
  .App-body form {
    flex-direction: row;
  }

  .App-body form input {
    width: clamp(8rem, 20vw, 10rem);
  }
}

/* Desktop */

@media (min-width: 901px) {
  /* same result as tablet */
}
